.hero-directions{
    position: relative;
        height: 440px;
        margin-bottom: 24px;
        background-color: var(--accent);
        background-image: url('../assets/directions/plane.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;

        @media screen and (max-width: 968px){
            margin-bottom: 64px;
            background-image: url('../assets/directions/plane-mobile.jpg');
        
            @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
                background-image: url('../assets/directions/plane-mobile@2x.jpg');
              }
            }

            @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
          background-image: url('../assets/directions/plane@2x.jpg');
      }
}
 

      .hero-directions__ornament{
        position: absolute;
        top: 0;
        

        &-first{
            right: 32px;
            @media screen and (max-width:968px){
                right: 16px;
            }
        }

        &-second{
            right: 142px;
            @media screen and (max-width:968px){
                display: none;
            }
        }
      }



    .direction{
        margin-bottom: 120px;

        @media screen and (max-width:968px){
            margin-bottom: 104px;
        }
    }

    .direction__wrapper{
        margin-bottom: 120px;
        display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr; 
    gap: 24px;
    grid-auto-rows: 1fr;

    @media screen and (max-width:968px) {
        margin-bottom: 104px;
    grid-template-columns: 1fr; 

    }
    }

    .direction__content{
        padding: 40px 32px;
        background-color: var(--box-bg);
        border-radius: 12px;
    
        @media screen and (max-width:968px){
            padding: 0;
        }
    }

    .direction__title{
        margin-bottom: 32px;
        font-family: var(--font-family);
font-weight: 500;
font-size: 104px;
line-height: 90%;
letter-spacing: -0.03em;
color: var(--accent);

@media screen and (max-width:968px){
    margin-bottom: 56px;
font-weight: 700;
font-size: 32px;
line-height: 100%;
}
    }

    .direction__text{
        font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
line-height: 120%;
letter-spacing: -0.02em;
color: var(--accent);

@media screen and (max-width:968px) {
font-weight: 500;
font-size: 16px;
letter-spacing: 0em;
}
    }

    .direction__logo-box{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--box-bg);
        border-radius: 12px;

        @media screen and (max-width:968px) {
            display: none;
        }
    }

    .direction__item{
        padding: 40px 0 40px 12px;
        display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr; 
    gap: 24px;
    grid-auto-rows: 1fr;
    border-bottom: 1px solid var(--accent);

    @media screen and (max-width:968px){
        padding: 0 0 40px 12px;
    grid-template-columns: 1fr; 
        
    }
    }

    .direction__item-number{
        margin-bottom: 18px;
        font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--services-number);
    }

    .direction__item-title{
        margin-bottom: 24px;
        font-family: var(--font-family);
font-weight: 500;
font-size: 48px;
line-height: 120%;
letter-spacing: -0.03em;
color: var(--accent);

@media screen and (max-width:968px){
font-size: 32px;
}
    }

    .direction__item-img-mobile{
        width: 344px;
        height: 358px;
        margin-bottom: 24px;

        @media screen and (min-width:969px){
            display: none;
        }
    }

    .direction__item-benefits{
        margin-bottom: 24px;
    }

    .direction__item-text{
        width: 570px;
        font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
letter-spacing: -0.01em;
color: var(--accent);


@media screen and (max-width:968px){
font-size: 16px;
line-height: 150%;
}
    }

    .direction__item-subtitle{
        margin-bottom: 12px;
        font-family: var(--second-family);
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: var(--accent);


@media screen and (max-width:968px){
font-size: 20px;
line-height: 120%;
}
    }

    .direction__item-btns{
        display: flex;
        gap: 12px;
    }

    .direction__item-btn{
        padding: 7px 21px;
    }

    .direction__item-acordeon{
        position: relative;
        z-index: 15;
        margin-top: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--accent);
border-radius: 12px;
padding: 8px 21px;
width: 181px;
background-color: transparent;

font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0em;
color: var(--accent);
cursor: pointer;
transition: all 0.5s ease-in-out;

.btn__arrow{
    margin-top: 6px;
    margin-left: 8px;
}

.btn__arrow path{
    stroke: var(--accent);
    transition: all 0.5s ease-in-out;
}

&:hover, :focus{
    background-color: var(--accent);
    color: var(--white);
    transition: all 0.5s ease-in-out;

    .btn__arrow path{
        stroke: var(--white);
        transition: all 0.5s ease-in-out;
    }
}
    }

    .direction__item-acordeon.active {
        margin-top: 56px;
        background: var(--accent); 
        color: var(--white);
        cursor: pointer;

        .btn__arrow path{
            stroke: var(--white);
            transition: all 0.5s ease-in-out;
        }

        
&:hover, :focus{
    background-color: transparent;
    color: var(--accent);
    transition: all 0.5s ease-in-out;

    .btn__arrow path{
        stroke: var(--accent);
        transition: all 0.5s ease-in-out;
    }
}
      }

      .direction__item-img{
        @media screen  and (max-width:968px){
            display: none;
        }

        
      }