.directions{
    margin-bottom: 120px;

    @media screen and (max-width: 968px){
    margin-bottom: 104px;
    }
}

.directions__title{
    margin-bottom: 24px;

    font-family: var(--font-family);
font-weight: 500;
font-size: 72px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--accent);

@media screen and (max-width: 968px) {
font-size: 32px;
}
}

.directions__text{
    width: 626px;
    margin-bottom: 40px;

    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
letter-spacing: 0em;
color: var(--accent);

@media screen and (max-width:968px) {
    width:100%;
font-size: 16px;
line-height: 150%;
}
}