.directions{
    margin-bottom: 120px;
}

.directions__title{
    margin-bottom: 24px;

    font-family: var(--font-family);
font-weight: 500;
font-size: 72px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--accent);
}

.directions__text{
    margin-bottom: 40px;

    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
letter-spacing: 0em;
color: var(--accent);
}