.dropdown-nav{
  display: inline-block;
}

.dropdown-nav__menu {
    position: absolute;
    top: 110%;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 12px;
width: 204px;
backdrop-filter: blur(4px);
background-color: var(--header-bg);
    z-index: 10;

    &-services{
    left: 27%;
    }

    &-direction{
      left: 35%;
    }
  }

  .dropdown__item{
    padding:16px 0 12px 24px;


    &:not(:last-child){
      border-bottom: 1px solid var(--accent);
    }
  }

  .dropdown__link{
    display: inline-block;
  overflow: hidden;
  position: relative;
  
    font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
line-height: 110%;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--accent);
cursor: pointer;

&-services{
  height: 2em;
}

&-direction{
  height: 1.1em;
}
  }