.footer{
    position: relative;
    background-color: var(--accent);
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url('../assets/footer/ornament-footer.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width: 968px){
    background-image: url('../assets/footer/ornament-footer-mobile.png');
        
    }
}

.footer__img{
    position: absolute;
    top: 0;
    left: 0;
}

.footer__content{
    padding: 40px 0px 27px 0px;

    @media screen and (max-width: 968px){
    padding: 62px 0px 32px 0px;
    }
}

.footer__logo{
    @media screen and (max-width:968px){
        margin-bottom: 95px;
    }
}

.footer__upper{
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 968px){
        flex-direction: column;
    align-items: start;

    }
}

.footer__list{
    display: flex;
    flex-direction: row;
    gap: 40px;

    @media screen and (max-width: 968px){
    flex-direction: column;
    gap: 12px;
    }
}

.footer__item, .footer__privacy{
    display: inline-block;
  overflow: hidden;
  position: relative;
  height: 1.1em;
  cursor: pointer;
}

.footer__link{
    font-family: var(--second-family);
font-weight: 600;
font-size: 14px;
line-height: 120%;
letter-spacing: 0em;
text-transform: uppercase;
color: var(--footer-text);
}

.footer__line{
    width: 100%;
    height: 1px;
    margin-bottom: 32px;
    background-color: var(--footer-text);
}

.footer__lower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width:968px){
    flex-direction: column;
        gap: 12px;
    }
}

.footer__text, .footer__privacy{
    font-family: var(--second-family);
font-weight: 500;
font-size: 14px;
line-height: 120%;
letter-spacing: 0em;
color: var(--footer-text);
}