.home{
    position: relative;
    height: 928px;
    display: flex;
    justify-content: start;
    align-items: end;
    background-color: var(--accent);
    background-image: url('../assets/home/hero/home-baner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    z-index: 10;
    
    @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
          background-image: url('../assets/home/hero/home-baner@2x.jpg');
        }

        @media screen and (max-width: 968px) {
            background-image: url("../assets/home/hero/home-banner-mobile.jpg");
        
            
            @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
              background-image: url("../assets/home/hero/home-banner-mobile@2x.jpg");
            }
          }

   
    
      }





.home__title{
    width: 936px;
    margin-bottom: 24px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 72px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--white);

@media screen and (max-width:968px){
    width: 358px;
font-weight: 700;
font-size: 32px;
}
}

.home__text{
    width: 626px;
    margin-bottom: 32px;
    font-family: var(--second-family);
font-weight: 500;
font-size: 18px;
line-height: 120%;
letter-spacing: 0em;
color: #fff;

@media screen and (max-width:968px){
    width: 303px;
font-size: 16px;
}
}

.home__btns{
    margin-bottom: 56px;
}