.logo, .rotate-logo{
    margin-right: 56px;
    display: flex;
    align-items: center;
    gap: 5px;

}

.logo__img{
    display: block;
    @media screen and (max-width:968px){
        display: none;
    }
}

.logo__img-mobile{
    display: block;
    @media screen and (min-width:969px){
        display: none;
    }
}

.rotate-logo{
    margin-right: 0;
}