.partners__container{
    margin-bottom: 120px;
    padding: 56px 24px;
    background-color: var(--box-bg);
    overflow: hidden;

    @media screen and (max-width: 968px){
        border-radius: 12px;
    padding: 20px 24px;
    }
}

.partners__title{
    margin-bottom: 50px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 40px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--accent);

@media screen and (max-width: 968px){
font-weight: 700;
font-size: 32px;
}
}



.partners__ticker{
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    @media screen and (max-width: 968px){
        gap: 40px;
    }
}

.partners__wrapper{
    height: 120px;
    padding: 11px 0;        
    user-select: none;
        
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 20px;

    animation: scroll 20s linear infinite;

    @media screen and (max-width: 968px){
        gap: 80px;
    }

}


@keyframes scroll{
    to{
        transform: translateX(calc(-100% - 20px));
        @media screen and (max-width: 968px){
            transform: translateX(calc(-100% - 80px));
        }
    }
}



.partners__item{
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 968px){
        width: 160px;
        height: 60px;
    }
}
