.price-direct{
    margin-bottom: 120px;

    @media screen and (max-width:968px){
        margin-bottom: 104px;
    }
}

.price-direct__title{
    margin-bottom: 56px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 72px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--accent);

@media screen and (max-width:968px){
    margin-bottom: 32px;
    font-size: 32px;
}
}

.price-direct__list{    
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr; 
    gap: 24px;

    @media screen and (max-width:968px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.price-direct__item{
    width: 691px;
    padding: 24px;
    

    &-country{
        background-color: var(--box-bg);
        border-radius: 12px;

    @media screen and (max-width:968px) {
        width: 100%;
    padding: 16px;

    }

        
    &:hover{
        background-color: var(--blue);
        transition: background-color 0.6s ease-in-out;

        .price-direct__img{
            scale: 122%;
            transition: scale 0.3s ease-in, scale 0.3s ease-out 0.3s;
            
        }
    }
    }
}

.price-direct__item-last{
    height: 452px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width:968px){
        width: 100%;
        justify-content: start;
    height: 220px;
    }
}


.price-direct__img-box{
    width: 643px;
    height: 363px;
    margin-bottom: 24px;
    border-radius: 20px;
    overflow: hidden;

    @media screen and (max-width:968px){
        margin-left: auto;
        margin-right: auto;
        width: 306px;
        height: 363px;
        
        
    }
}

.price-direct__img{
    scale: 100%;
    width: 100%;
    height: 100%;
    transition: scale 0.3s ease-in, scale 0.3s ease-out 0.3s;
}

.price-direct__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.price-direct__card-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
line-height: 120%;
letter-spacing: 0em;
color: var(--accent);

@media screen  and (max-width:968px){
font-size: 16px;
line-height: 87%;
}
}

.price-direct__subtitle{
    margin-top: 12px;
    margin-bottom: 24px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 48px;
line-height: 100%;
letter-spacing: 0em;
color: var(--accent);

@media screen and (max-width:968px){
    margin-bottom: 16px;
font-size: 32px;
}
}

.price-direct__text{
    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
letter-spacing: 0em;
color: var(--accent);

@media screen and (max-width:968px){
    width: 352px;
    margin-bottom: 24px;
font-size: 16px;
line-height: 150%;
}
}

.price-direct__btn{
    border: 1px solid var(--accent);
border-radius: 12px;
padding: 8px 21px;
width: 691px;
// height: 38px;
text-align: center;

font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0em;
color: var(--accent);

@media screen and (max-width:968px){
width: 100%;
}

&:hover,:focus{
    background-color: var(--accent);
    color: var(--white);
    transition: all 0.5s ease-in-out;
    }
}