.logo__box{
    width: 50%;
    height: 423px;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: var(--box-bg);
    border-radius: 12px;

}

.rotate-logo{
  @media screen and (max-width:968px){
    
  }
}