.services{
    margin-bottom: 120px;
}

.services__wrapper{
    position: relative;
    cursor: pointer;

    &:hover{
        .services__display{
            opacity: 1;
            scale: 100%;
            transition: all 0.5s ease-in-out;
            animation-duration: 500;
        }
    }

}

.services__wrapper:hover ~ .services__wrapper,
.services:hover .services__wrapper:not(:hover) {
    .services__content-title,
    .services__content-text {
        color: var(--services-text-hover); 
        opacity: 0.4;
        transition: all 0.5s ease-in-out;
    }

    .btn__link{
        color: var(--services-text-hover);
        opacity: 0.4;
        transition: all 0.5s ease-in-out;


        .btn__arrow path{
            stroke: var(--services-text-hover);
            opacity: 0.4;
        transition: all 0.5s ease-in-out;

        }
    }
}

.services__display-box{
    position: relative;
}

.services__display{
    position: absolute;
    top: 10%;
    right: 5%;
    transform: translateY(-10%) translateX(-5%);
    width: 100%;
    opacity: 0;
    scale: 90%;
    z-index: 10;
}

.services__title{
    margin-bottom: 24px;

    font-family: var(--font-family);
font-weight: 500;
font-size: 72px;
line-height: 90%;
letter-spacing: -0.03em;
color: var(--accent);
}

.services__text{
    margin-bottom: 56px;

    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
letter-spacing: 0em;
color: var(--accent);
}

.services__img{
    // display: none;
    width: 330px;
    height: 306px;
    margin-left: auto;
    border-radius: 12px;
}

.services__content{
    padding: 32px 0;
    display: flex;
    
}

.services__content-left{
    width: 50%;
    display: flex;
}

.services__number{
    margin-right: 130px;

    font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--services-number);
}

.services__content-title{
    width: 500px;
    font-family: var(--second-family);
font-weight: 500;
font-size: 38px;
line-height: 120%;
letter-spacing: -0.03em;
color: var(--accent);
}

.services__content-right{
    width: 50%;
}

.services__content-text{
    margin-bottom: 24px;
    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
letter-spacing: 0em;
color: var(--accent);
}



.services__line{
    width: 100%;
    height: 1px;
    background-color: var(--services-number);
}