.services{
    margin-bottom: 120px;
}

.services__wrapper{
    @media screen and (min-width: 969px) {
        position: relative;
    cursor: pointer;

    &:hover{
        .services__display{
            opacity: 1;
            scale: 100%;
            transition: all 0.5s ease-in-out;
            animation-duration: 500;
        }
    }
    }
    

}

.services__wrapper:hover ~ .services__wrapper,
.services:hover .services__wrapper:not(:hover) {
    @media screen and (min-width: 969px){
    
    .services__content-title,
    .services__content-text {
        color: var(--services-text-hover); 
        opacity: 0.4;
        transition: all 0.5s ease-in-out;
    }

    .btn__link{
        color: var(--services-text-hover);
        opacity: 0.4;
        transition: all 0.5s ease-in-out;


        .btn__arrow path{
            stroke: var(--services-text-hover);
            opacity: 0.4;
        transition: all 0.5s ease-in-out;

        }
    }
}
}

.services__display-box{
    position: relative;
}

.services__display{
    @media screen and (max-width: 968px) {
        display: none;
    }
    @media screen and (min-width: 969px) {
        position: absolute;
    top: 10%;
    right: 5%;
    transform: translateY(-10%) translateX(-5%);
    width: 100%;
    opacity: 0;
    scale: 90%;
    z-index: 10;
    }
    
}

.services__title{
    margin-bottom: 24px;

    font-family: var(--font-family);
font-weight: 500;
font-size: 72px;
line-height: 90%;
letter-spacing: -0.03em;
color: var(--accent);

@media screen and (max-width: 968px) {
font-size: 32px;
}
}

.services__text{
    width: 793px;
    margin-bottom: 56px;

    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
letter-spacing: 0em;
color: var(--accent);

@media screen and (max-width: 968px) {
    width: 100%;
    margin-bottom: 40px;
font-size: 16px;
line-height: 150%;
}
}

.services__img{
    // display: none;
    width: 330px;
    height: 306px;
    margin-left: auto;
    border-radius: 12px;
}

.services__content{
    padding: 32px 0;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 968px) {
        flex-direction:column;
    padding: 40px 0;
    }
}

.services__content-left{
    width: 50%;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 968px) {
    width: 100%;
        flex-direction:column;
    }
}

.services__number{
    margin-right: 130px;

    font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--services-number);

@media screen and (max-width: 968px) {
    margin-bottom: 16px;
}
}

.services__img-mobile{
    display: none;
    @media screen and (max-width:968px){
        display: block;
        margin-bottom: 24px;
    border-radius: 12px;
width: 358px;
height: 364px;
    }
    
}

.services__content-title{
    margin-bottom: 0;
    width: 500px;
    font-family: var(--second-family);
font-weight: 500;
font-size: 38px;
line-height: 120%;
letter-spacing: -0.03em;
color: var(--accent);

@media screen and (max-width:968px) {
    margin-bottom: 16px;
    width: 100%;
font-size: 24px;
}
}

.services__content-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;

    @media screen and (max-width:968px) {
        width: 100%;
    }
}

.services__content-text{
    margin-bottom: 24px;
    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
letter-spacing: 0em;
color: var(--accent);

@media screen and (max-width: 968px) {
    margin-bottom: 32px;
font-size: 16px;
line-height: 150%;
}
}



.services__line{
    width: 100%;
    height: 1px;
    background-color: var(--services-number);
}