.value{
    margin-bottom: 120px;

    @media screen and (max-width:968px) {
        margin-bottom: 104px;
    }
}

.value__title{
    margin-bottom: 56px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 72px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--accent);

@media screen and (max-width:968px) {
font-size: 32px;
}
}

.value__svg{
    width: 40px;
}

.value__list{
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr; 
    gap: 24px;
    grid-auto-rows: 1fr;

    @media screen and (max-width:968px){
    grid-template-columns: 1fr; 
        
    }
}

.value__item{
    position: relative;
    height: 364px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--box-bg);
    border-radius: 12px ;
    transition: background-color 0.3s ease-in,
                background-color 0.3s ease-out 0.3s;
    
    &:hover{
    background-color: var(--blue);
    
    transition: background-color 0.3s ease-in,
                background-color 0.3s ease-out 0.3s;
                
    .value__ornament{
        opacity: 1;
        transition: opacity 0.3s ease-in,
                    opacity 0.3s ease-out 0.3s;
    }
    }
}

.value__ornament{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 32px;
    transition: opacity 0.3s ease-in,
                opacity 0.3s ease-out 0.3s;
}

.value__subtitle{
    margin-bottom: 12px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 32px;
line-height: 120%;
letter-spacing: -0.03em;
color: var(--accent);

@media screen and (max-width:968px){
font-size: 24px;
}
}

.value__text{
    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
line-height: 120%;
letter-spacing: 0em;
color: var(--accent);

@media screen and (max-width:968px){
font-size: 16px;
}
}