@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'AAStetica';
    src: url('/fonts/AAStetica-Light.woff') format('woff2'),
         url('/fonts/AAStetica-Light.woff') format('woff');
    font-weight: 300; // Light
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AAStetica';
    src: url('/fonts/AAStetica-Regular.woff2') format('woff2'),
         url('/fonts/AAStetica-Regular.woff') format('woff');
    font-weight: 400; // Regular
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AAStetica';
    src: url('/fonts/AAStetica-Medium.woff2') format('woff2'),
         url('/fonts/AAStetica-Medium.woff') format('woff');
    font-weight: 500; // Medium
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AAStetica';
    src: url('/fonts/AAStetica-Bold.woff2') format('woff2'),
         url('/fonts/AAStetica-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }


