:root {
	--container-width: 1406px;
	--container-padding: 32px;

	--page-bg: #F9F7F4;
	--header-bg: #ffffff99;
	--text-color: #001343;
	--accent: #001343;
	--active: #1f4dd6;
    --box-bg: #F9F9F9;
    --direction-hover: #E5F1F5;
    --hero-btn: #ffffff40;
	--services-number: #00134380;
	--services-text-hover:  #001343;
	--link-color: #1f4dd6;
	--input-focus: #f2541326;
	--radio-hover: #2260ea33;
	--loader: #2261ea85;
	--white: #fff;
	--copyright: #ffffff80;


	--laptop-size: 1406px;
	--mobile-size: 376px;

	// Colors
	--primary: #001343;
	--black: #0c0c0c;
	--white: #fff;
	

	// Fonts
	--font-family: 'AAStetica', sans-serif;
	--second-family: 'Archivo', sans-serif;
}