:root {
	--container-width: 1406px;
	--container-padding: 32px;

	--page-bg: #F9F7F4;
	--header-bg: #ffffff99;
	--text-color: #001343;
	--text-form: #00134399;
	--accent: #001343;
	--active: #1f4dd6;
    --box-bg: #F9F9F9;
	--link-text: #646f8c;
    --direction-hover: #E5F1F5;
    --hero-btn: #ffffff40;
	--burger-color:#001343;
	--services-number: #00134380;
	--services-text-hover:  #001343;
    --footer-text: #bfc4d0;
	--white: #fff;
	--blue: #e5f1f5;
	--error: #ff0000;


	--laptop-size: 1406px;
	--mobile-size: 376px;

	// Colors
	--primary: #001343;
	--black: #0c0c0c;
	--white: #fff;
	

	// Fonts
	--font-family: 'AAStetica', sans-serif;
	--second-family: 'Archivo', sans-serif;
}